{
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
